body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 61, 56);
}



main{
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    border-radius: 2rem;
    background: linear-gradient(to bottom, #e1e5ee, #c5cee0);
}

/* css variables */
:root{
    --button-color:blueviolet;
    --button-text-color: aliceblue;
}

/* clock */
#clock-face{
    display:flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color:indigo;
}

/* set alarm */
.set-alarms{
    display:flex;
    margin:2rem;
}
.set-alarms input{
    width:2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background: none;
    border: none;
    border:1px solid black;
    border-radius: 5px;
}

.set-alarms input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
 
}
.set-alarms input[type="number"] {
    -moz-appearance: textfield;
  }
.set-alarms #sec{
    margin-right:1rem;
}
.set-alarms button{
    margin-left: 2rem;
    width: 5rem;
    height: 2.5rem;
    border:none;
    cursor: pointer;
    border-radius: 5px;
    background-color:var(--button-color);
    color: var(--button-text-color);

}


/* add alarms */
.addAlarms{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    margin-bottom: 2rem;
}
.addAlarms div{
    width:60%;
    border: 2px solid black;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
.addAlarms button{
    margin-left: 4rem;
    width: 4rem;
    height: 2rem;
    border:none;
    cursor: pointer;
    background-color: var(--button-color);
    color:var(--button-text-color);
    border-radius: 5px;
}

